extends ../../layouts/default.pug
include ../../mixins/filter.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/box-actions.pug
include ../../mixins/sort.pug

block main
  if(role.permissions.includes("products_view"))
    h1(class="mb-4") Quản lý sản phẩm
    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6 
            +filterStatus(listFilter)
          .col-6
            +search(keyword)
    .card.mb-3
      .card-header Hành động
      .card-body()
        +box-actions(`/${prefix}/product/change-many-status`, listActions)
    .card.mb-3
      .card-header Sắp xếp
        +sort()
    .card.mb-3
      .card-header Danh sách
      .card-body
        div(class="text-right mb-2")
          a(
            href=`/${prefix}/product/create`
            class="btn btn-outline-success"
          ) + Thêm mới
        table.table.table-hover.table-sm
          thead
            tr
              th
                input(
                  type="checkbox"
                  change-status-all
                )
              th STT
              th Hình ảnh
              th Tiêu đề
              th Giá
              th Vị trí
              th Trạng thái
              th Hành động

          tbody
            for item, index in listProducts
              tr
                td
                  input(
                  type="checkbox"
                  change-status-item
                  value = item.id 
                ) 
                td #{index + 1}
                td
                  img(
                    src= item.thumbnail
                    alt= item.title
                    width="50px"
                    height="auto"
                  )
                td #{item.title}
                td #{item.price}$
                td
                  input(
                    type="number"
                    style = "width : 60px"
                    change-position
                    link-id-item = `/${prefix}/product/change-position/${item.id}`
                    value = `${item.position}`
                    min = 1
                  )
                td
                  if(item.status == 'active')
                    button(
                      link =`/${prefix}/product/change-status/${item.id}/inactive`
                      class="badge badge-success"
                      button-change-status
                    ) Hoạt động 
                  else 
                    button(
                      link =`/${prefix}/product/change-status/${item.id}/active` 
                      class="badge badge-danger"
                      button-change-status 
                    ) Dừng hoạt động 
                td
                  a(
                    class="btn btn-info btn-sm mr-1"
                    href= `/${prefix}/product/detail/${item.id}`
                  ) Chi tiết
                  a(
                    class="btn btn-warning btn-sm"
                    href= `/${prefix}/product/edit/${item.id}`
                  ) Sửa
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    link-id-button = `/${prefix}/product/delete/${item.id}` 
                  ) Xóa
      div(class="mx-auto")
        +pagination(pagination)
