extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        div(class="alert alert-success") Chúc mừng bạn đã đặt hàng thành công! Mã đơn hàng của bạn là <b>OD00000001</b>.


    .row
      .col-12
        +box-head("Thông tin khách hàng")

        table(class="table table-bordered")
          tbody
            tr
              td Họ tên
              td #{dataOrder.inforUser.fullName}
            tr
              td Số điện thoại
              td #{dataOrder.inforUser.phone}
            tr
              td Ghi chú
              if (dataOrder.inforUser.note)
                td #{dataOrder.inforUser.note}
              else 
                td 
            tr
              td Ngày đặt
              td #{dataOrder.inforUser.createdAt}


    .row
      .col-12
        +box-head("Danh sách tour")

        table(class="table table-bordered")
          thead
            tr
              th STT
              th Ảnh
              th Tiêu đề
              th Giá
              th Số lượng
              th Tổng tiền
          tbody
            for tour, index in dataOrder.listTour
              tr
                td #{index + 1}
                td
                  img(src=tour.image alt=tour.title  width="80px")
                td #{tour.title}
                td #{tour.price}
                td #{tour.quantity}
                td #{tour.priceSpecial}

        h5(class="text-right mb-4") Tổng đơn hàng: #{dataOrder.totalPrice}