extends ../../../layouts/default.pug
include ../../../mixins/filter.pug
include ../../../mixins/search.pug
include ../../../mixins/pagination.pug
include ../../../mixins/box-actions.pug


block main
  if(role.permissions.includes("trash_view"))
    h1(class="mb-4") Thùng rác tài khoản
    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6 
            +filterStatus(listFilter)
          .col-6
            +search(keyword)
    .card.mb-3
      .card-header Hành động
      .card-body
        +box-actions(`/${prefix}/trash/change-many-item`, listActions)
    .card.mb-3
      .card-header Danh sách
      .card-body
        table.table.table-hover.table-sm
          thead
            tr
              th
                input(
                  type="checkbox"
                  change-status-all
                )
              th STT
              th Hình ảnh
              th Tên tài khoản
              th Nhóm Quyền
              th Trạng thái
              th Hành động
              th Xóa bởi 

          tbody
            for item, index in listProducts
              tr
                td
                  input(
                  type="checkbox"
                  change-status-item
                  value = item.id 
                ) 
                td #{index + 1}
                td
                  img(
                    src= item.avatar
                    alt= item.fullName
                    width="50px"
                    height="auto"
                  )
                td #{item.fullName}
                td #{item.roleName}
                td
                  if(item.status == 'active')
                    button(
                      link =`/${prefix}/product/change-status/${item.id}/inactive`
                      class="badge badge-success"
                    ) Hoạt động 
                  else 
                    button(
                      link =`/${prefix}/product/change-status/${item.id}/active` 
                      class="badge badge-danger"
                    ) Dừng hoạt động 
                td
                  button(
                    class="btn btn-warning btn-sm"
                    restore-item
                    link-id-button-trash = `/${prefix}/trash/account/restore/${item.id}`
                  ) Khôi phục
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    permanently-deleted
                    link-id-button-trash = `/${prefix}/trash/account/permanently-deleted/${item.id}`
      
                  ) Xóa vĩnh viễn
                td
                  div #{item.namePersonDeleted} #{item.formatUpdatedAt}
      div(class="mx-auto")
        +pagination(pagination)
    