extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  .tour-detail
    .container.my-3
      .row
        .col-6
          .inner-images
            div(style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper tour-imgs2")
              .swiper-wrapper
                for img in itemTour.images 
                  .swiper-slide
                    .inner-image
                      img(src=img)
              .swiper-button-next
              .swiper-button-prev
          .inner-images
            div(thumbsSlider="" class="swiper tour-imgs")
              .swiper-wrapper
                for img in itemTour.images 
                  .swiper-slide
                    .inner-image
                      img(src=img)
        .col-6
          .inner-title #{itemTour.title}
          .inner-barcode
            <i class="fa-solid fa-barcode"></i> Mã tour: #{itemTour.code}
          .inner-time-start
            <i class="fa-solid fa-calendar-days"></i> Lịch khởi hành: #{itemTour.timeStart}
          .inner-stock
            <i class="fa-solid fa-person-walking-luggage"></i> Còn lại: #{itemTour.stock} chỗ
          .inner-price-special #{itemTour.code}
          .inner-price #{itemTour.price}
          .inner-percent Giảm tới #{itemTour.discount}%
          form(
            form-add-to-cart
            tour-id=`:tourId`
          )
            input(
              class="form-control mb-2"
              type="number"
              name="quantity"
              value="1"
              min="1"
              max="10"
            )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Thêm vào giỏ hàng
          
      .row
        .col-12
          .inner-infomation
            .inner-label Thông tin tour
            .inner-text
              | #{itemTour.information}
        
        .col-12
          .inner-infomation
            .inner-label Lịch trình tour
            .inner-text
              | #{itemTour.schedule}