header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href=`/${prefix}/dashboard`) ADMIN
      div(class="col-9 sub-header-right")
        a(href=`/${prefix}/profile`)
          .avatar-admin
            //- img(src=account.avatar, 
            //- alt=account.fullName
            //- )
        a(
          class="btn btn-danger btn-sm"
          href=`/${prefix}/auth/logout`
        ) Đăng xuất

        //- class="btn btn-info btn-sm"